<article>
<iframe src="https://drive.google.com/file/d/0B683jJvclyNqOVpDVHBiNEd1dDhzOW1wZ0djQlQ2bGYtRl9J/preview" width="640" height="480"></iframe>
<p>Das Organigramm ist ein pdf und evtl. nicht auf dem neuesten Stand. 
	Klicken Sie für weitere Informationen auf 
	"<%= link_to "Lehrer", teachers_path %>" 
	oder "<%= link_to "Ressorts", departments_path %>".</p>
	
<% if admin? %>
<h1>Bugs / To Do </h1>
<ul>
	<li>Jobs show. Evtl pro Ressort </li>
</ul>



<% end %>
</article>