<article>
<iframe src="https://drive.google.com/file/d/0B683jJvclyNqOVpDVHBiNEd1dDhzOW1wZ0djQlQ2bGYtRl9J/preview" width="640" height="480"></iframe>
<p>Das Organigramm ist ein pdf und evtl. nicht auf dem neuesten Stand. 
	Klicken Sie für weitere Informationen auf 
	"<%= link_to "Lehrer", teachers_path %>" 
	oder "<%= link_to "Ressorts", departments_path %>".</p>
</article>