/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
	font-family: verdana;
	color:black;
	text-decoration:none;
	list-style-type: none;
}

html {
	background-image: url(musical-instruments.jpg)
}

div article {
	clear:left;
	padding-top: 40px;
}

footer {
	float:left;
	clear:both;
}

.listdiv {
	clear:none;
}

.maindiv {

	clear:left;
	padding-left: 20px;
}
.linkdiv {
	padding:20px;
	
}

#logindiv {
	float:right;
	clear:none;
}
#background {
	max-width: 1200px;
	margin:20px;
	padding: 20px;
    border: 10px black solid;
	border-radius: 20px;
	background:-moz-linear-gradient(bottom,lightgreen,darkgreen); /* Firefox */
    background:-webkit-gradient(linear,left top,left bottom,from(lightgreen),to(darkgreen)); /* Chrome, Safari */
    filter: progid:DXImageTransform.Microsoft.gradient(start
    Colorstr='glight',endColorstr='darkgreen'); /* Internet Explorer */
}

.left {

}
.right {
	float:right;

}


a {
	text-decoration:none;
}


table, th, td {
	border-collapse: collapse;
	border-bottom: 1px black solid;
	text-align:left;
}

table {
	width: 100%;
	word-break: break-all;
	overflow: hidden;
}

td , th{
	padding: 0px 20px 0px 0px;
}

a:hover, div .linkdiv:hover {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;

}

textarea {
	max-width:800px;
	width: 800px;

}


span {
	max-width:800px;
}

iframe {
	border: none;
}


.odd {
	background-color: rgba(255, 255, 255, 0.1);
}
